/* 头部开始 */
*{
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}
.header{
    z-index: 1;
    width: 100%;
    height: 65px;
    background-color: #c80000;
    position: fixed;
    left: 0;
    top: 0;
}
.header .wrapper{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.header .wrapper .left{
    float: left;
    line-height: 65px;
}
.header .wrapper .left a{
    text-decoration: none;
}
.header .wrapper .left a img{
    width: 80px;
    height: 40px;
    vertical-align: middle;
}
.header .wrapper .right{
    float: right;
    height: 65px;
    line-height: 65px;
    color: #fff;
    margin-left: 30px;
    font-size: 16px;
}
.header .wrapper .right i{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-right: 5px;
    background: url('../images/imgs-sale/5-13.png') no-repeat 0 0;
}
.header .wrapper .right i.logo{
    background-position: -164px 0;
}
.header .wrapper .center{
    float: right;
}
.header .wrapper .center a{
    display: inline-block;
    padding: 0 25px;
    line-height: 65px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.header .wrapper .center a.cur{
    height: 63px;
    border-bottom: 2px solid #ababab;
    background-color: #aa0000;
}
/* 头部结束 */
/* banner图开始*/
.banner{
    height: 523px;
    background: #212121 url('../images/imgs-sale/5-2.jpg') no-repeat center;
}
/* banner图结束 */
/* 主体内容开始 */
/* 优势开始 */
.content{
    padding: 40px 0;
    background: #f3f3f3;
}
.content .wrapper{
    width: 1200px;
    margin: 0 auto;
}
.content .wrapper h4{
    background: url('../images/imgs-sale/5-3.jpg') no-repeat top left;
    height: 80px;
    text-align: right;
}
ul li {
    list-style: none;
}
.content .wrapper .advantage{
    overflow: hidden;
    padding: 20px 0;
    background: url('../images/imgs-sale/5-5.jpg') no-repeat right bottom;
}
.content .wrapper .advantage li{
    float: left;
    width: 400px;
    height: 82px;
    margin: 20px 100px;
    overflow: hidden;
}
.content .wrapper .advantage li i{
    display: inline-block;
    width: 82px;
    height: 82px;
    background: url('../images/imgs-sale/5-13.png') no-repeat 0 0;
}
.content .wrapper .advantage li i.bg1{
    background-position: 0 0 ;
    float: left;
}
.content .wrapper .advantage li div{
    margin-left: 95px;
}
.content .wrapper .advantage li div h5{
    font-size: 18px;
    margin-bottom: 5px;
}
.content .wrapper .advantage li div p{
    font-size: 12px;
    color: #333;
}
.content .wrapper .advantage li i.bg2{
    background-position: -82px 0 ;
    float: left;
}
.content .wrapper .advantage li i.bg3{
    background-position: 0 -83px ;
    float: left;
}
.content .wrapper .advantage li i.bg4{
    background-position: -82px -83px ;
    float: left;
}
.content .wrapper .advantage li i.bg5{
    background-position: 0 -166px ;
    float: left;
}
.content .wrapper .advantage li i.bg6{
    background-position: -82px -166px ;
    float: left;
}
/* 优势结束 */
/* 大特效开始 */
.roll-flow{
    padding: 100px 0;
    background-color: #fff;
}
.roll-flow .wrapper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.roll-flow .wrapper .roll-box{
    width: 540px;
    height: 540px;
    margin: 0 auto;
    position: relative;
}
.roll-flow .wrapper .roll-box .roll{
    transition: all 1s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.roll-flow .wrapper .roll-box .f1{
    background: url('../images/imgs-sale/5-14.png') no-repeat 0 0;
}
.roll-flow .wrapper .roll-box .f2{
    background: url('../images/imgs-sale/5-15.png') no-repeat 0 0;
}
.roll-flow .wrapper .roll-box .f3{
    background: url('../images/imgs-sale/5-16.png') no-repeat 0 0;
}
/* 心脏跳动的效果 */
.roll-flow .wrapper .roll-box .f3{
    margin: 200px;
    /* 调用heart动画 */
    animation: heartbeat 1s ease 0s infinite normal;
    margin: 0 auto;
}
@keyframes heartbeat {
    /* 声明一个名称为heart的动画 */
    0%{
        /* 注意，前面使用了旋转，这里必须写上，不然会重叠效果 */
        transform: scale(1)  rotate(360deg);
    }
    50%{
        transform: scale(1.2)  rotate(360deg);
    }
    100%{
        transform: scale(1)  rotate(360deg);
    }
}
/* 心动效果结束 */
/* 逆时针旋转开始 */
.roll-flow .wrapper:hover .f2{
    transform:rotate(-360deg);
    margin: 0 auto;
}
/* 逆时针旋转结束 */
/* 顺时针开始 */
.roll-flow .wrapper:hover .f1{
    transform:rotate(360deg);
    margin: 0 auto;
}
/* 顺时针结束 */
.roll-flow .wrapper .absolute{
    position: absolute;
    left: 950px;
    top: 140px;
    font-size: 13px;
    color: #333;
}
.roll-flow .wrapper .absolute b{
    color: #d60000;
    font-size: 14px;
}
.roll-flow .wrapper .absolute1{
    position: absolute;
    left: 20px;
    top: 400px;
    width: 350px;
    text-align: right;
    font-size: 12px;
    color: #333;
}
.roll-flow .wrapper .absolute1 p{
    font-size: 20px;
    margin-bottom: 5px;
}
/* 大特效结束 */

/* 方案开始 */
.bigpic{
    height: 720px;
    background: url('../images/imgs-sale/5-6.jpg') no-repeat top center;
}
.bigpic .wrapper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.bigpic .wrapper .list{
    position: absolute;
    top: 480px;
    left: 35px;
}
.bigpic .wrapper .list ul li{
    background: url('../images/imgs-sale/5-1.jpg') no-repeat 0 0;
    width: 183px;
    height: 229px;
    float: left;
    margin-right: 15px;
    font-size: 14px;
    position: relative;
}
.bigpic .wrapper .list ul li h4{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.bigpic .wrapper .list ul li p{
    position: absolute;
    left: 26px;
    top: 50px;
    width: 125px;
    color: #fff;
    font-size: 14px;
}
.bigpic .wrapper .absolute{
    position: absolute;
    left: 865px;
    top: 90px;
    width: 320px;
    height: 390px;
}
.bigpic .wrapper .absolute .bigbox{
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
.bigpic .wrapper .absolute .smallbox{
    position: absolute;
    left: 50px;
    top: -20px;
    background: #d60000;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
}
.bigpic .wrapper .absolute h4{
    position: absolute;
    left: 0;
    top: 90px;
    text-align: center;
    color: #fff;
    font-size: 22px;
}
.bigpic .wrapper .absolute h4 b{
    color: #d60000;
    font-size: 14px;
}
.bigpic .wrapper .absolute p{
    position: absolute;
    left: 46px;
    top: 190px;
    width: 240px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}
.bigpic .wrapper p{
    position: absolute;
    left: 865px;
    top: 510px;
    color: #fff;
    width: 320px;
    font-size: 12px;
}
/* 方案结束  */

/* 适合行业开始 */
.fit{
    background: url('../images/imgs-sale/5-7.jpg') no-repeat top center;
    height: 374px;
    margin: 40px 0 60px;    
}
/* 适合行业结束  */

/* 020行业成功案例开始 */
.success{
    background: #f9f9f9;
    padding: 40px 0 60px;
}
.success .wrapper{
    width: 1200px;
    margin: 0 auto;
}
.success .wrapper .pc{
    height: 528px;
    background: url('../images/imgs-sale/5-13.jpg') no-repeat center;
    overflow: hidden;
}
.success .wrapper .pc .one{
    width: 436px;
    height: 315px;
    display: block;
    margin-top: 200px;
    margin-left: 145px;
    float: left;
}
.success .wrapper .pc .two{
    width: 436px;
    height: 315px;
    display: block;
    margin-top: 200px;
    margin-right: 145px;
    float: right;
}
.success .wrapper .app{
    height: 474px;
    background: url('../images/imgs-sale/5-8.jpg') no-repeat center;
    overflow: hidden;
}
.success .wrapper .app .lt{
    width: 200px;
    height: 400px;
    margin-top: 66px;
    cursor: pointer;
    float: left;
    margin-left: 281px;
    line-height: 400px;
    text-align: center;
}
.success .wrapper .app .rt{
    width: 200px;
    height: 400px;
    margin-top: 66px;
    cursor: pointer;
    float: right;
    margin-right: 270px;
    line-height: 400px;
    text-align: center;
}
.success .wrapper .web{
    height: 491px;
    background: url('../images/imgs-sale/5-9.jpg') no-repeat center;
    overflow: hidden;
}
.success .wrapper .web .m-page1{
    width: 191px;
    height: 323px;
    line-height: 323px;
    margin-top: 106px;
    float: left;
    cursor: pointer;
    text-align: center;
    margin-left: 197px;
    margin-right: 72px;
}
.success .wrapper .web .m-page2{
    width: 191px;
    height: 323px;
    line-height: 323px;
    margin-top: 106px;
    float: left;
    cursor: pointer;
    text-align: center;
    margin-left: -61px;
    margin-right: 21px;
}
.success .wrapper .web .m-page3{
    width: 191px;
    height: 323px;
    line-height: 323px;
    margin-top: 106px;
    float: left;
    cursor: pointer;
    text-align: center;
    margin-right: 30px;
}
.success .wrapper .web .m-page4{
    width: 191px;
    height: 323px;
    line-height: 323px;
    margin-top: 106px;
    float: left;
    cursor: pointer;
    text-align: center;
}
/* 020行业成功案例结束 */

/* 合作流程开始 */
.cooperated{
    padding: 40px 0 90px;
}
.cooperated .wrapper{
    width: 1200px;
    margin: 0 auto;
}
.cooperated .wrapper img{
    display: block;
    margin: 0 auto 60px;
}
.cooperated .wrapper .piece{
    height: 84px;
    background: url('../images/imgs-sale/5-11.jpg') no-repeat top center;
    margin: 0 auto;
}
/* 合作流程结束 */
/* 主体内容结束 */

/* 底部开始 */
.footer{
    background: #2a2a2a;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}
.footer img{
    display: block;
    position: absolute;
    left: 50%;
    top: -4px;
    margin-left: -67px;
}
.footer h3{
    padding-top: 10px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    border-bottom: 1px solid #444;
}
.footer .p1{
    margin-top: 30px;
    font-size: 14px;
}
.footer h4{
    font-size: 18px;
}
.footer h4 a{
    text-decoration: none;
    border-bottom: 2px solid #c80000;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.footer .p2{
    margin-top: 45px;
    font-size: 12px;
}
/* 底部结束 */