.topic-content{
    width: 100%;
}
.topic-content .topic-head{
    height: 666px;
    background: url(../images/newiphone/2019010415272479.jpg) no-repeat top center;
}
.topic-content .topic-centent1{
    height: 700px;
    background: url(../images/newiphone/2018083015314223.jpg) no-repeat top center;
}
.topic-content .topic-centent2{
    height: 888px;
    background: url(../images/newiphone/2018102918139560.jpg) no-repeat top center;
}
.topic-content .topic-centent3{
    height: 566px;
    background: url(../images/newiphone/2018083015322645.jpg) no-repeat top center;
}
.topic-content .topic-centent5{
    height: 666px;
    background: url(../images/newiphone/2018083015321793.jpg) no-repeat top center;
}
.topic-content .topic-centent6{
    height: 483px;
    background: url(../images/newiphone/2018083015325531.jpg) no-repeat top center;
}
.topic-content .topic-centent7{
    height: 600px;
    background: url(../images/newiphone/2018083015340364.jpg) no-repeat top center;
}
.topic-content .topic-centent8{
    height: 542px;
    background: url(../images/newiphone/2018083015389607.jpg) no-repeat top center;
}
.topic-content .topic-centent9{
    height: 487px;
    background: url(../images/newiphone/2018083015360292.jpg) no-repeat top center;
}
.topic-content .topic-centent10{
    height: 684px;
    background: url(../images/newiphone/2018083015545916.jpg) no-repeat top center;
}
.topic-content .topic-centent11{
    height: 450px;
    background: url(../images/newiphone/2018083016015537.jpg) no-repeat top center;
}