@charset "UTF-8"; body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma, Verdana, arial, "microsoft yahei", "sim sun";
    line-height: 1.5;
    color: #333;
}
button, input, select, textarea {
    font-size: 100%
}
a {
    color: #333;
    text-decoration: none;
    outline: 0;
    transition: color .1s;
}
a:hover {
    text-decoration: underline;
    color: #c80f1e;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img, area, a {
    border: 0;
    outline: 0;
}
ol, ul {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
/*版心*/
.wrapper{
    width: 1200px;
    margin:0 auto;
}
.clearfix:after{
    content:'';
    height: 0;
    overflow: hidden;
    clear: both;
    line-height: 0;
    display: block;
}
.clearfix{
    *zoom:1; 
}
.fl{
    float: left;
}
.fr{
    float: right;
}