<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/sale-announcement.css">
</head>

<body>

    <!-- 头部开始 -->
    <div class="allheader">
        <div class="gheader">
            <div class="header-top">
                <div class="fl site">
                    <!-- 地址 -->
                    <div class="areaSelector">
                        <i class="iconfont icon-dizhi fl"></i>
                        <h3 class="address fl">郑州</h3>
                        <div class="area">
                            <!-- 这里的地址信息是动态读取的 -->
                        </div>
                    </div>

                    <script>
                        $(function () {
                            $('.area').area();
                        })
                    </script>
                    <!-- 地址结束 -->
                </div>
                <div class="site-choose">

                </div>
                <div class="fl welcom">
                    <span>Hi，欢迎来九机！</span>
                </div>
                <div class="fl glogin">
                    <a href="login.html" class="lo">登陆</a> <a href="reg.html" class="zhu">注册</a>
                </div>
                <div class="fl header-menu popup">
                    <a href="">个人中心<i class="iconfont icon-triangle-down"></i> </a>
                </div>
                <div class="perCenter perCenter1">
                    <a href="">
                        <h4>我的订单</h4>
                    </a>
                    <a href="">
                        <h4>我的积分</h4>
                    </a>
                    <a href="">
                        <h4>我的试用</h4>
                    </a>
                    <a href="">
                        <h4>我的收藏</h4>
                    </a>
                    <a href="">
                        <h4>我的咨询</h4>
                    </a>
                    <a href="">
                        <h4>我的优惠券</h4>
                    </a>
                    <a href="">
                        <h4>报修/退换货</h4>
                    </a>
                </div>
                <div class="fl header-menu">
                    <a href="">
                        <i class="iconfont icon-huiyuan"></i> 会员俱乐部
                    </a>
                </div>
                <div class="fl header-menu">
                    <a href="">帮助中心</a>
                </div>
                <div class="fl header-menu popup client">
                    <a href="">
                        <i class="iconfont icon-shouji"></i> 客户端
                    </a>
                </div>
                <div class="client-down">
                    <ul>
                        <li>
                            <a href=""><img src="images/index-header/appdown.png" alt=""></a>
                            <h1>扫描二维码</h1>
                        </li>
                        <li>
                            <p><a href="">android </a></p>
                            <p><a href="">iphone </a></p>
                            <p><a href="">触屏版 </a></p>
                        </li>
                    </ul>
                </div>

                <div class="fl header-menu">
                    <a href="">在线客服</a>
                </div>
                <div class="fl header-menu gnav">
                    <a href="">网站导航<i class="iconfont icon-triangle-down"></i></a>
                </div>
                <div class="gnav-list">
                    <div class="list">
                        <h1>九机特色</h1>
                        <ul class="fl">
                            <li>附近门店</li>
                            <li>免费贴膜</li>
                            <li>预约维修</li>
                            <li>九机小店</li>
                        </ul>
                        <ul class="fl">
                            <li>一手优品</li>
                            <li>旧机回收</li>
                            <li>预约快修</li>
                        </ul>
                    </div>
                    <!-- 第二列 -->
                    <div class="list">
                        <h1>服务集市</h1>
                        <ul class="fl">
                            <li>在线支付</li>
                            <li>品牌专区</li>
                            <li>帮助中心</li>
                            <li>会员俱乐部</li>
                        </ul>
                        <ul class="fl">
                            <li>话费充值</li>
                            <li>试用中心</li>
                            <li>九机服务</li>
                        </ul>
                    </div>
                    <!-- 第三列 -->
                    <div class="list">
                        <h1>招商合作</h1>
                        <ul class="fl">
                            <li>供应商申请</li>
                            <li>九机百科</li>

                        </ul>
                        <ul class="fl">
                            <li>IT服务</li>

                        </ul>
                    </div>
                    <!-- 第四列 -->
                    <div class="list">
                        <h1>更多精选</h1>
                        <ul class="fl">
                            <li>九机头条</li>

                        </ul>
                        <ul class="fl">
                            <li>人才招聘</li>

                        </ul>
                    </div>
                    <!-- 第五列 -->
                    <div class="list">
                        <h1>产品选择</h1>
                        <ul class="fl">
                            <li>手机</li>
                            <li>电脑周边</li>
                            <li>智能产品</li>

                        </ul>
                        <ul class="fl">
                            <li>手机配件</li>
                            <li>耳机音响</li>
                            <li>笔记本/电脑</li>

                        </ul>
                    </div>
                </div>
                <div class="fl header-menu">
                    <a href="">
                        <i class="iconfont icon-jubao"></i>不良信息举报
                    </a>
                </div>
                <div class="fl header-menu number">
                    <a href="">
                        <i class="iconfont icon-dianhua-copy"></i>0171-15698759
                    </a>
                </div>
                <div class="gCall">
                    <h1>输入手机号码并免费拨打：</h1>
                    <input type="text" class="phone-num">
                    <input type="submit" class="callbtn" value="拨打">
                </div>
            </div>
        </div>
        <!-- logo  搜索  购物车按钮 -->
        <div class="header-search">
            <div class="header-logo fl"></div>
            <div class="seach-cent fl">
                <input type="text" class="gseach" placeholder="iphone xs Max">
                <input type="submit" value="搜索" class="seach-btn">
                <ul class="SearchRes">
                </ul>
                <div class="hot-words">
                    <span> 热门搜索：</span>
                    <span> 华为</span>
                    <span> 荣耀v20</span>
                    <span> 华为</span>
                    <span> 荣耀v20</span>
                    <span> 华为</span>
                    <span> 荣耀v20</span>
                    <span> 华为</span>
                    <span> 荣耀v20</span>
                </div>

            </div>
            <div class="shop-cart fl">
                <i class="iconfont icon-tubiaozhizuomoban"></i>
                <a href=""> 购物车</a>
                <span>0</span>
            </div>
        </div>
        <!-- 一级菜单 -->
        <div class="level-menu">
            <div class="level-menu-s">
                <a href="">
                    <span>首页</span>
                </a>
                <a href="">
                    <span>旧机回收</span>
                </a>
                <a href="">
                    <span>一手优品</span>
                </a>
                <a href="">
                    <span>二手良品</span>
                </a>
                <a href="">
                    <span>售后维修</span>
                </a>
                <a href="">
                    <span>九机头条</span>
                </a>
                <a href="">
                    <span>人气排行</span>
                </a>
            </div>



        </div>
        <!-- 头部结束 -->
    </div>


    <!-- 主体开始 -->
    <div class="wrapper">
        <div class="imgbanner">
            <ul class="bg">
                <li class="bg1"></li>
                <li class="bg2"></li>
                <li class="bg3"></li>
                <li class="bg4"></li>
                <li class="bg5"></li>
            </ul>
            <i class="rt"></i>
            <i class="lt"></i>
            <div class="sp">
                <span>SD Maid-Android上的磁盘分析器</span>
                <span>手机前置摄像头自拍头像是反的,原来是这么回事</span>
                <span>智能手机是如何散热的？</span>
                <span>手机最快的呼救方式你知道吗？</span>
                <span>高通推"Adreno Turbo",匹敌华为GPU Turbo</span>
            </div>
            <ul class="circle">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="nav-left">
            <div class="director">
                <p>目录</p>
                <ul>
                    <li>
                        <i class="ig1"></i>
                        <a href="#" class="cur1">售后公告</a>
                        <em class="d1"></em>
                    </li>
                    <li>
                        <i class="ig2"></i>
                        <a href="#" class="cur2">常见问题</a>
                        <em class="d2"></em>
                    </li>
                    <li>
                        <i class="ig3"></i>
                        <a href="#" class="cur3">维修报价</a>
                        <em class="d3"></em>
                    </li>
                    <li>
                        <i class="ig4"></i>
                        <a href="#" class="cur4">售后咨询</a>
                        <em class="d4"></em>
                    </li>
                    <li>
                        <i class="ig5"></i>
                        <a href="#" class="cur5">意外保/延保</a>
                        <em lass="d5"></em>
                    </li>
                </ul>
            </div>
            <div class="ipt">
                <form class="ctr">
                    <input type="text" class="in" placeholder="请输入关键词">
                    <input type="submit" class="sub" value="搜索">
                </form>
            </div>
            <div class="newss">
                <h3>手机新品</h3>
                <ul>
                    <li>
                        <a href="#">
                            <img src="images/imgs-sale/013.jpg" alt="">
                        </a>
                        <h6>
                            <a href="#">华为 nova4 (VCE-ALOO) 全网通..</a>
                        </h6>
                        <p>
                            九机价:<span>3099.00</span>元
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/imgs-sale/010.jpg" alt="">
                        </a>
                        <h6>
                            <a href="#">华为 荣耀 (PCT-AL10) 全网通..</a>
                        </h6>
                        <p>
                            九机价:<span>3499.00</span>元
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/imgs-sale/0014.jpg" alt="">
                        </a>
                        <h6>
                            <a href="#">VIVO NEX 双屏版</a>
                        </h6>
                        <p>
                            九机价:<span>4988.00</span>元
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/imgs-sale/555.jpg" alt="">
                        </a>
                        <h6>
                            <a href="#">华为 荣耀Magic 2 全网通版..</a>
                        </h6>
                        <p>
                            九机价:<span>4299.00</span>元
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/imgs-sale/012.jpg" alt="">
                        </a>
                        <h6>
                            <a href="#">Apple iPhone XS (A2100) 全网通..</a>
                        </h6>
                        <p>
                            九机价:<span>7899.00</span>元
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/imgs-sale/06.jpg" alt="">
                        </a>
                        <h6>
                            <a href="#">荣耀 Note10 (RVL-AL09) 全..</a>
                        </h6>
                        <p>
                            九机价:<span>2580.00</span>元
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/imgs-sale/011.jpg" alt="">
                        </a>
                        <h6>
                            <a href="#">华为 nova3 (PAR-ALOO) 全网通..</a>
                        </h6>
                        <p>
                            九机价:<span>2599.00</span>元
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/imgs-sale/02.jpg" alt="">
                        </a>
                        <h6>
                            <a href="#">亚马逊 全新Kindle 电子书阅读器</a>
                        </h6>
                        <p>
                            九机价:<span>558.00</span>元
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-right">
            <ul>
                {foreach $news as $index=>$val}
                <li>
                    <a href="#">
                        <img src="{$val['img']}" alt="">
                    </a>
                    <h3>
                        <a href="#">{$val['title']}</a>
                    </h3>
                    <p>
                        {$val['brife']}
                        <a href="#">{$val['more']}</a>
                    </p>
                    <div class="import">
                        <em>{$val['time']}</em>
                        <div class="import-rt">
                            <span>
                                <i class="irt1"></i>
                                <em>{$val['views']}</em>
                            </span>
                            <span>
                                <i class="irt2"></i>
                                <em>{$val['zan']}</em>
                            </span>
                            <a href="#">
                                <i class="atu"></i>
                                <em>{$val['con']}</em>
                            </a>
                        </div>
                    </div>
                </li>
                {/foreach}
            </ul>
            <div class="nav-page">
                <span>共355条记录</span>
                <span>1/17页</span>
                <span>首页</span>
                <span>上一页</span>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                ...
                <a href="#">71</a>
                <a href="#">下一页</a>
                <a href="#">尾页</a>
            </div>
        </div>
    </div>
    <!-- 主体结束 -->


    <!-- 尾部开始 -->
    <div class="allfooter">
        <!-- 页脚 -->
        <div class="gfooter">
            <div class="promise">
                <a href="">
                    <dl>
                        <dt class="icon p0"></dt>
                        <dd>
                            <h2>新九机 新生态</h2>
                            <h5>新九机 新生态新九机 新生态</h5>
                        </dd>
                    </dl>
                </a>
                <a href="">
                    <dl>
                        <dt class="icon p1"></dt>
                        <dd>
                            <h2>售假退一罚三</h2>
                            <h5>我们承诺，只做正品</h5>
                        </dd>
                    </dl>
                </a>
                <a href="">
                    <dl>
                        <dt class="icon p2"></dt>
                        <dd>
                            <h2>3小时极速达</h2>
                            <h5>自建物流，直达客户</h5>
                        </dd>
                    </dl>
                </a>
                <a href="">
                    <dl>
                        <dt class="icon p3"></dt>
                        <dd>
                            <h2>上门快修</h2>
                            <h5>线上预约维修，在线评估故障</h5>
                        </dd>
                    </dl>
                </a>
                <a href="">
                    <dl>
                        <dt class="icon p4"></dt>
                        <dd>
                            <h2>门店保障</h2>
                            <h5>实体购物，更加安心</h5>
                        </dd>
                    </dl>
                </a>
            </div>

            <div class="footer-help">
                <div class="wrapper">
                    <dl>
                        <dt><a href="">新手指南</a></dt>
                        <dd><a href="">购物流程</a></dd>
                        <dd><a href="">九机评测</a></dd>
                        <dd><a href="">积分计划</a></dd>

                    </dl>
                    <dl>
                        <dt><a href="">付款方式</a></dt>
                        <dd><a href="">支付方式</a></dd>
                        <dd><a href="">分期付款</a></dd>
                        <dd><a href="">网银在线支付</a></dd>

                    </dl>
                    <dl>
                        <dt><a href="">配送方式</a></dt>
                        <dd><a href="">到店自提</a></dd>
                        <dd><a href="">送货上门</a></dd>
                        <dd><a href="">快递运输</a></dd>

                    </dl>
                    <dl>
                        <dt><a href="">售后服务</a></dt>
                        <dd><a href="">九机手机保修条例</a></dd>
                        <dd><a href="">硬件维修及报价</a></dd>
                        <dd><a href="">延保/意外保服务</a></dd>

                    </dl>
                    <dl>
                        <dt><a href="">帮助中心</a></dt>
                        <dd><a href="">常见问题解答</a></dd>
                        <dd><a href="">4G热点问题解答</a></dd>
                        <dd><a href="">交易条款</a></dd>
                    </dl>
                    <dl class="foot-WeChat">
                        <dt class="icon"></dt>
                        <dd class="wblink">
                            <h3>九机网官方微信</h3>
                            <h4>扫描二维码，即刻调戏小九，更多精彩活动等着你哦！</h4>
                        </dd>
                        <dd class="wbicon">
                            <a href="" class="xinlang"><i class="icon"></i>新浪微博</a>
                            <a href="" class="tieba"><i class="icon"></i>九机贴吧</a>
                        </dd>
                    </dl>
                </div>

            </div>
            <div class="clear"></div>
            <!-- 最底部 -->
            <div class="gbottom">
                <div class="wrapper">
                    <div class="foot_nav">
                        <a href="">常见问题</a>
                        <i>|</i>
                        <a href="">常见问题</a>
                        <i>|</i>
                        <a href="">常见问题</a>
                        <i>|</i>
                        <a href="">常见问题</a>
                        <i>|</i>
                        <a href="">常见问题</a>
                        <i>|</i>
                        <a href="">常见问题</a>
                        <i>|</i>
                        <a href="">常见问题</a>
                        <i>|</i>
                        <a href="">常见问题</a>
                        <i>|</i>
                        <a href="">常见问题</a>
                        <i>|</i>
                    </div>
                    <div class="information">
                        <p>各门店营业时间：周一至周日 09:00-21:30 全国服务热线：400-008-3939 0871-68393939 工作时间：周一至周日
                            09:00-21:30</p>
                        <p>网站ICP备案号：<a rel="nofollow" href="https://www.miibeian.gov.cn/" target="_blank">滇ICP备06002001号</a>
                            &nbsp;&nbsp;&nbsp;&nbsp; 电信业务经营许可证：滇B2-20180054号 &nbsp;&nbsp;&nbsp;&nbsp; <a rel="nofollow"
                                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=53010202000261"
                                target="_blank">滇公网安备
                                53010202000261号</a> &nbsp;&nbsp;&nbsp;&nbsp; </p>
                        <p>Copyright © 2006 - 2019 九机网 All Rights Reserved</p>
                        <p>云南九机信息技术有限公司版权所有</p>
                    </div>
                    <div class="bot-link">
                        <a href=""><img src="images/index-header/botpic1c.jpg" alt=""></a>
                        <a href=""><img src="images/index-header/bottom_large_img.png" alt=""></a>
                        <a href=""><img src="images/index-header/sm_124x47.png" alt=""></a>
                        <a href=""><img src="images/index-header/botpic1c.jpg" alt=""></a>
                        <a href=""><img src="images/index-header/botpic1c.jpg" alt=""></a>
                        <a href=""><img src="images/index-header/botpic1c.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 页脚结束 -->
        <!-- 右侧弹出导航开始 -->
        <div class="rnav">
            <ul class="righticon">
                <li class="gou"><i class="iconfont icon-tubiaozhizuomoban"></i></li>
                <li><i class="iconfont icon-mendian"></i></li>
                <li><i class="iconfont icon-kefu"></i></li>
                <li><i class="iconfont icon-tousujianyi"></i></li>
                <li><i class="iconfont icon-weixin"></i></li>
                <li><i class="iconfont icon-duibivs"></i></li>
            </ul>
            <ul class="rightpop">
                <li> <em></em> <a href="">购物车</a> </li>
                <li class="pop2"><em></em><a href="">附近门店</a></li>
                <li class="pop3"><em></em><a href="">咨询客服</a></li>
                <li class="pop4"><em></em><a href="">投诉建议</a></li>
                <li class="pop5"><img src="images/index-header/gunzhu-jiuji.png" alt=""></li>
                <li class="pop6"><em></em><a href="">产品对比</a></li>
            </ul>
        </div>
        <!-- 右侧导航弹出结束 -->
        <!-- 购物车 -->
        <div class="small-car">
            <div class="small-head clearfix">
                <div class="pict"><img src="images/index-header/car28.png" alt=""></div>
                <p class="wen">购物车</p>
            </div>
            <div class="option">
            </div>
            <div class="bottom">
                <div class="mess">
                    <span class="zi">共 <span class="num-zong">0</span> 件商品，总计：</span>
                    ￥<a href="" class="all-price">0</a>
                </div>
                <a href="" class="fina">结算</a>
            </div>
            <div class="none">
                <div class="car-tu">
                    <img src="images/shopCar/car28.png" alt="">
                </div>
                <p class="final-wen">
                    <span>购物车里还没有商品，快</span>
                    <a href="">去逛逛</a>
                    <span>吧</span>
                </p>
            </div>
        </div>
    </div>
</body>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/sale-announcemrnt2.js"></script>
<script src="js/sale-announcemrnt.js"></script>


</html>